.countries_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.countries_pagination p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #1a237e;
    margin: 0;
    padding-bottom: 0.5rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}